[submodule "libgpg-error-sys/libgpg-error"]
	path = libgpg-error-sys/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
[submodule "build_helper"]
	path = build_helper
	url = https://github.com/johnschug/build_helper.git
