[package]
name = "libgpg-error-sys"
version = "0.3.1"
authors = ["John Schug <john.ips.schug@gmail.com>"]
license = "LGPL-2.1"
repository = "https://github.com/johnschug/rust-gpg-error"
documentation = "https://docs.rs/libgpg-error-sys"
categories = ["external-ffi-bindings"]
keywords = ["gpg"]
description = "Raw bindings for libgpg-error"
links = "gpg-error"
build = "build.rs"

[lib]
name = "libgpg_error_sys"
path = "lib.rs"

[build-dependencies]
cc = "1.0.2"
