[package]
name = "libgpg-error-sys"
version = "0.4.1"
authors = ["John Schug <john.ips.schug@gmail.com>"]
license = "LGPL-2.1"
repository = "https://github.com/gpg-rs/libgpg-error/libgpg-error-sys"
documentation = "https://docs.rs/libgpg-error-sys"
categories = ["external-ffi-bindings"]
keywords = ["gpg"]
description = "Raw bindings for libgpg-error"
links = "gpg-error"

[badges]
travis-ci = { repository = "gpg-rs/libgpg-error" }
maintenance = { status = "experimental" }

[lib]
name = "libgpg_error_sys"
path = "lib.rs"

[features]
default = ["bundled"]
bundled = ["gettext-sys"]

[build-dependencies]
cc = "1.0.2"

[dependencies.gettext-sys]
version = "0.19.8"
optional = true
